<head></head>
<body>
  <div id="apology">
    I'm sorry for <%= henry_did %>. That was messed up of me.
  </div>
  <br />
  <form action="/" method="post">
    <div>What has Henry done now?</div>
    <input type="text" name="henry_did">
    <input type="submit" value="Apologize">
  </form>
</body>